{% extends "layout.html" %}
{% block body %} 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1> {{params['title']}} </h1>
            <span class="subheading">{{params['tag_line']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" style="height: 350px;">
 <div class="buttons d-flex justify-content-around flex-wrap">
  <div>
      <p>For checking your database status </p>
    <a href="/status">
    <button type="button" class="btn btn-primary btn-lg">
    status </button>
  </a>
  
  </div>
  <div>
    <p>For creating your Data in system</p>
    <a href="/createFacialData"><button type="button" class="btn btn-primary btn-lg">Create Your Data</button>
  </a>
    </div>
    <div>
      <p>For identifying you in system</p>
        <a href="/identifyFacialImage">   <button type="button" class="btn btn-primary btn-lg"> Identification </button></a>
  </div>
       
 </div>
</div>

  {% endblock %}